/.idea/misc.xml
/.idea/modules.xml
/.idea/OpAL.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml

Logs/*.pkl
*.out
*.err
*.pkl

Data/*.csv

environments/*.__pycache__
models/*.__pycache__
analysis/*.__pycache__
*.__pycache__

*.DS_Store
*.vscode
